<!DOCTYPE html>
<html>
<head>
  <title>DomainManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to 'Accounts', api_v1_accounts_path %></li>
    <li><%= link_to 'Domains', api_v1_domains_path %></li>
</nav>
<%= yield %>

</body>
</html>
